<!DOCTYPE html>
<html>
    <head>
        <title>Room for Rent</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
    </head>
    <body>
        <div class="bg-dark text-white text-center">
            <h1>Welcome to Room for Rent</h1>
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>