<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <a class="btn btn-dark btn-block btn-outline-secondary" asp-action="Index" asp-controller="Leaser">Leasers</a>
            <a class="btn btn-dark btn-block btn-outline-secondary" asp-action="Index" asp-controller="Renter">Renters</a>
        </div>
        <div class="col-7">
            Will Add more content later.
        </div>
        <div class="col-2 ">
            Side Bar Content
        </div>
    </div>
</div>